.bodyAboutHome{
    background-image: url(../Assets/background3.jpg);
    margin: 0;
}
.conteinerAboutHome{
    margin: 0;
    padding-top: 90px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 56, 82, 0.9);
    align-items: center;
    height: 300px;
    color: #fff;
}
.conteinerAboutHome .homeAbout{
    display: flex;
    justify-content: center;
}