.footer{
    background-color: rgba(0, 56, 82, 0.8);
    color: #fff;
    align-items: center;
    justify-content: center;
}
.corfundo{
    background-image: url(../Assets/bacground.jpeg);
    background-size: cover;
}
.footer .footerConteiner{
    list-style: none;
    vertical-align:middle;
    margin: 0px 250px 0px 250px;
}
.footer .footerConteiner div{
    margin: 35px 20px;
}
.footer .footerConteiner div{
    width: 50%;
}
.footerConteiner div p{
    text-align: justify;
}
.footer div .copyright{
    text-align: center;
    margin-bottom: 2px;
    padding-top: 5px;
    height: 50px;
    background-color: rgb(0, 56, 82);
    border-top: 1px solid #fff;
}
.footer .lateral{
    display: flex;
}
.footer div li{
    list-style: none;
}
.footerConteiner{
    display: flex;
    
}
.footer h1{
    margin-bottom: 50px;
}
hr{
    color: #fff;
}
.footer div h2{
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.footer div li{
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;
}